<div class="container app-login" style="margin-top: 20vh;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="text-center">
                    <b>Login</b> 
                    <br/>
                    <small>Monkey-Junior</small>
                </h1>
                <br/>
                <div class="alert alert-warning" *ngIf="errorCredentials">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Login Failed
                </div>
                <form [formGroup]="f" novalidate>
                    <div class="form-group" 
                        [ngClass]="{'has-success': f.controls['email'].valid,
                        'has-error': f.controls['email'].invalid && 
                        (f.controls['email'].touched || 
                        f.controls['email'].dirty)}
                        ">
                        <input type="email" 
                            formControlName="email" 
                            class="form-control">
                        <span *ngIf="f.controls['email'].valid" 
                            class="glyphicon glyphicon-ok form-control-feedback" 
                            aria-hidden="true"
                            ></span>
                        <span *ngIf="f.controls['email'].invalid && 
                            (f.controls['email'].touched || 
                            f.controls['email'].dirty)">
                        <span class="glyphicon glyphicon-remove form-control-feedback" 
                            aria-hidden="true"></span>
                        <span class="text-danger">Email Invalid</span>
                        </span>
                    </div>
                    <div class="form-group" 
                        [ngClass]="{'has-success': f.controls['password'].valid,
                        'has-error': f.controls['password'].invalid && 
                        (f.controls['password'].touched || 
                        f.controls['password'].dirty)}">
                        <input type="password" 
                            formControlName="password" 
                            class="form-control">
                        <span class="text-danger" 
                            *ngIf="f.controls['password'].invalid && 
                            (f.controls['password'].touched || 
                            f.controls['password'].dirty)
                            ">Password Invalid</span>
                    </div>
                    <button type="submit" class="btn btn-default" [disabled]="f.invalid" (click)="onSubmit()">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>