
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1>{{title}}</h1>

            <!-- Table to output data -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>ParentId</th>                       
                        <th>OPTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menu of menus">
                        <td>{{ menu.id }}</td>                      
                        <td>{{ menu.name }}</td>
                        <td>{{ menu.parentid }}</td>                      
                        <td>
                            <button (click)="deleteMenu(menu.id)" class="btn btn-danger">Delete</button>
                            <button (click)="showMenu(menu.id)" class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr />

            <!-- Form to add data -->
             <form [formGroup]="menuForm" (ngSubmit)="storeMenu(menuForm)">
                
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="parentid">ParentId</label>
                    <input type="number" class="form-control" name="parentid" min="0" max="99999" step=".01" formControlName="parentid">
                </div>             
			
                <!-- Output the data on input -->
                <pre>{{menuForm.value | json}}</pre>

                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" (click)="putMenu(menu.id)" class="btn btn-primary">Update</button>

            </form> 

        </div>    
    </div>
</div>